.createGroupWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  font-size: clamp(18px, 3vw, 1.75rem);
  font-weight: 500;
  letter-spacing: 1px;
}

.nameFieldWrapper {
  display: flex;
  align-items: center;
}
.groupName,
.chooseColor {
  font-size: clamp(14px, 2vw, 28px);
  font-weight: 500;
  letter-spacing: 1px;
  flex: 0.4;
}

.input {
  font-size: clamp(10px, 1.5vw, 24px);
  font-weight: 400;
  letter-spacing: 1px;
  flex: 0.6;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.colorFieldWrapper {
  display: flex;

  align-items: center;
  /* gap:1vw; */
}

.colorWrapper {
  display: flex;
  gap: 1vw;
  flex: 0.6;
}

.circleSize {
  width: clamp(18px, 2.5vw, 40px);
  height: clamp(18px, 2.5vw, 40px);
  border-radius: 50%;
}
.violet {
  background-color: #b38bfa;
}

.pink {
  background-color: #ff79f2;
}

.skyBlue {
  background-color: #43e6fc;
}

.orange {
  background-color: #f19576;
}

.darkBlue {
  background-color: #0047ff;
}

.blue {
  background-color: #6691ff;
}

.createButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.createButtonWrapper > button {
  color: white;
  background-color: #001f8b;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
}

.active {
  border: 2.5px solid grey;
}
