.home{
    width:100%;
    height:100%;
    background-color: #dae5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.imageWrapper{
    width:60%;
}

.imageWrapper > img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.homeText{
    width:60%;
    text-align: center;
}