.notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notesHeader {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: #001f8b;
  color: white;
}

.backIcon {
  width: 20px;
  height: 16px;
  object-fit: contain;
  display: none;
}

.avatar {
  width: clamp(48px, 5vw, 64px);
  height: clamp(48px, 5vw, 64px);
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: blue;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 24px);
  text-transform: capitalize;
}

.groupName {
  font-weight: 500;
  font-size: clamp(16px, 1.5vw, 32px);
  color: white;
  letter-spacing: 0.5px;
}

.notesBody {
  flex: 1;
  background-color: #dae5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 1rem;
  height: calc(100vh-32vh);
  overflow: auto;
}

.singleNote {
  width: 94%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noteText {
  font-size: clamp(13px, 2vw, 18px);
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: clamp(16px, 1.5vw, 28px);
  color: #000000;
}
.noteTime {
  text-align: right;
  font-size: clamp(13px, 2vw, 18px);
  font-weight: 500;
  color: #353535;
}

.notesFooter {
  width: 100%;
  height: 180px;
  background-color: #001f8b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textAreaWrapper {
  width: 95%;
  height: 80%;
  position: relative;
}

.textAreaWrapper > textarea {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  padding: 1rem;
  border-radius: 10px;
}

textarea:focus {
  outline: none;
}

.sendIcon {
  position: absolute;

  right: 1vw;
  bottom: 1vw;
  font-size: clamp(24px, 2vw, 42px);
}
.enabled {
  color: #001f8b;
}
.disabled {
  color: lightgrey;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .backIcon {
    display: block;
  }
  .sendIcon {
    right: 1.5vw;
    bottom: 1.5vw;
  }
}
