.app {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

.left {
  width: 30%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.right {
  width: 70%;
  height: 100vh;
  overflow: hidden;
}
